<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">

    <title>{{ breadcrumb|length ? 'Admin / '~breadcrumb : 'Kinders Admin' }}</title>
    <link rel="icon" href="{{ asset('favicon.ico') }}"/>

    {% block stylesheets %}
        <link href="{{ asset('admin.css'|assetbuilder) }}" rel="stylesheet">
    {% endblock %}
</head>
<body>
{% embed "@admin/navbar.html.twig" %}
{% endembed %}
<div class="container-fluid">
    {% block body %}
    {% endblock %}
</div>

{% block javascripts %}
    <script src="{{ asset('admin.js'|assetbuilder) }}"></script>
{% endblock %}
</body>
</html>
