{% extends "bootstrap_4_layout.html.twig" %}

{% block choice_widget_expanded -%}
    {% if 'attributes_list' in form.vars.block_prefixes %}
        <div class="row">
            {% for group, choices in form.vars.choices %}
                <div class="col">
                    <div class="text-secondary">&mdash; {{ group }}</div>
                    {%- for choice in choices -%}
                        {%- for child in form -%}
                            {%- if choice.value == child.vars.value -%}
                                {{- form_widget(child, {
                                    parent_label_class: label_attr.class|default(''),
                                    translation_domain: choice_translation_domain,
                                    valid: valid,
                                }) -}}
                            {%- endif -%}
                        {%- endfor -%}
                    {%- endfor -%}
                </div>
            {% endfor %}
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{%- endblock choice_widget_expanded %}