{% extends '@TetranzSelect2Entity/Form/fields.html.twig' %}

{% block tetranz_select2entity_widget_select_option %}
    <option value="{{ id }}" selected="selected"
            {% if label.file is defined %} data-file="{{ vich_uploader_asset(label, 'diskFile') }}"{% endif %}
    >
        {{ label }}
    </option>
{% endblock %}
