body {
    background-color: lightgray;
}

/* button xs */

.btn-group-xs > .btn,.btn-xs {
    padding: .25rem .4rem;
    font-size: .875rem;
    line-height: .5;
    border-radius: .2rem;
}

/* admin tables */

table.table th:last-child,
table.table td:last-child,
table.table th:first-child,
table.table td:first-child {
    white-space: nowrap;
    width: 1px;
}

table.table th:last-child .btn-sm,
table.table td:last-child .btn-sm,
table.table th:first-child .btn-sm,
table.table td:first-child .btn-sm {
    display: inline-block;
    min-width: 2.2em !important;
    padding-bottom: 0.05rem;
    padding-top: 0.05rem;
    text-align: center;
}

/* form boolean yes - no */

.yesno .form-check {
    display: inline-block !important;
    margin-right: 1.5em;
}

/* admin images */

.admin-image img {
    height: 1.5em;
    width: 1.5em;
    transition: transform .2s; /* Animation */
}
.admin-image:hover img.tn {
    transform: scale(2.5);
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
    padding: 1px;
    background: white;
}
.admin-image img.blank {
    background: rgba(0,0,0,0.1);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

/* select2 */

.select2-selection img,
.select2-container img {
    max-height: 1.5em;
    max-width: 1.5em;
}

/* pagination */

.footer-pagination{
    display: inline-block;
    margin-left: 1em;
}

/* attributes list */

span.attribute {
    font-size: .8rem;
    border-radius: 1rem;
    background: rgba(0,0,0,0.07);
    margin-right: .2rem;
    display: inline-block;
    vertical-align: middle;
}
span.attribute em {
    font-size: .8rem;
    border-radius: 1rem;
    background: rgba(255,255,255,.5);
    color: rgba(0,0,0,.4);
    padding: 0 .3rem;
    margin: 0.1rem 0 0.1rem 0.1rem;
    display: inline-block;
    vertical-align: top;
}
span.attribute span {
    padding: .1rem .4rem .1rem .3rem;
    display: inline-block;
    vertical-align: top;
}

/* vich */

.vich-image img {
    max-height: 10em;
    max-width: 10em;
}
.vich-image .custom-file-input ~ .custom-file-label::after {
    content: "Image";
}