body {
    background: #ffa6a6 url(../img/headbg.png) repeat-x 0 0;
    margin: 0;
    padding: 0;
}

/* MENU */

#menu {
    margin-top: -70px;
    float: left;
    width: 12rem;
    box-sizing: border-box;
    padding: 0 .5rem;
    font-size: .8rem;
}

#menu .logo {
    display: block;
    margin-bottom: 1rem;
}

#menu .logo img {
    width: 100%;
    height: 100%;
    max-width: 150px;
    max-height: 150px;
}

#menu ul {
    border-top: 1px solid #aaaaaa;
    border-right: 1px solid #aaaaaa;
    border-bottom: 1px solid #aaaaaa;
    background: white;
    margin-left: -.5rem;
    margin-right: .5rem;
    padding: 0 0 0 .5rem;
}

#menu li {
    list-style-type: square;
    list-style-position: inside;
}

#menu ul.admin li {
    list-style-type: circle;
}

/* CONTENT */

#content {
    margin-top: 70px;
    margin-left: 12rem;
    padding: 1rem;
    background: white;
    border-top: 1px solid #aaaaaa;
    border-left: 1px solid #aaaaaa;
    border-bottom: 1px solid #aaaaaa;
    min-height: 30rem;
}

/* FOOTER */

#footer {
    text-align: center;
    margin: 1rem 0;
    padding: 1rem;
    background: white;
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #aaaaaa;
    font-size: .8rem;
    clear: both;
}

/* GENERIC */

h1 {
    margin-top: 0;
    margin-bottom: 1rem;
    border-bottom: 1px solid #aaaaaa;
}

.flag-icon {
    margin-right: .2rem;
}

/* TABLE KINDER */

table.kinders {
    border: 1px solid #aaaaaa;
}

table.kinders th {
    background: #eeeeee;
    border: 1px solid #aaaaaa;
    padding: 0 .3rem;
}

table.kinders td {
    border: 1px solid #aaaaaa;
    padding: 0 .3rem;
}

table.kinders td.image {
    padding: 0;
}

table.kinders td.imageserie {
    padding: 0 .3rem 0 0;
}

table.kinders .item-status {
    font-size: .8rem;
    display: inline-block;
    padding: 0 .5rem;
    vertical-align: middle;
}

table.kinders .variante {
    font-size: .8rem;
    font-style: italic;
}

table.kinders.series td.country {
    min-width: 8rem;
}

table.kinders.series td.imageserie {
    min-width: 35rem;
}

/* TABLE PUZZLE */

table.puzzle {
    border: 1px solid #aaaaaa;
}

table.puzzle td.empty {
    opacity: .5;
    text-align: center;
}

/* ATRIBUTES */

.attribute, .attribute em, .attribute span {
    display: inline-block;
    box-sizing: content-box;
}

.attribute em, .attribute span {
    padding: 0 .4rem;
}

.attribute em {
    font-size: .8rem;
}

.kinder .attribute {
    border: 1px solid #aaaaaa;
    background: #aaaaaa;
    margin-right: .5rem;
}

.kinder .attribute em {
    color: white;
}

.kinder .attribute span {
    background: #eeeeee;
}

td .attribute em:after {
    content: " :";
}

td .attribute em {
    color: #6c757d !important;
}

/* IMAGES PAGE SERIE */

a.image.tn img {
    height: 100px;
    transition: transform .2s;
}

a.image.tn img:hover {
    z-index: 1;
    transform: scale(2);
    border: 1px solid #aaaaaa;
}

span.image.none {
    z-index: 0;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: #eeeeee;
    text-align: center;
    font-size: 3rem;
    line-height: 100px;
    opacity: .5;
    vertical-align: middle;
}

/* IMAGES LISTE SERIE */

td.imageserie a .img-wrapper,
td.imageserie a .none {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    margin-right: .3rem;
    text-align: center;
    vertical-align: middle;
    background-color: rgba(238, 238, 238, .5);
    background-size: auto;
    background-position: center center;
    background-repeat: no-repeat;
}

td.imageserie a .none {
    background: rgb(238, 238, 238);
    opacity: .5;
}
